body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.paper {
  /*  margin-top: theme.spacing(8),*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stockName {
  font-weight: 700;
}

.lables {
  display: inline-block;
  position: relative;
  right: 155px;
  top: -1rem;
  color: brown;
  font-size: 0.8rem;
  width: 150px;
  text-align: right;
}
